@mixin input-sass
  border: 1px solid var(--base-button)
  border-radius: 4px
  padding: 12px
  width: 100%
  height: 42px
  color: var(--text)
  background-color: var(--input)
  font-family: var(--font-family)
  font-weight: 400
  font-size: 14px
  line-height: 1.3
  transition: border 0.2s ease
  &:focus
    border: 1px solid var(--ui-yellow-dark)

/* base media */
@mixin desktop-small
  @media (max-width: 1180px)
    @content

@mixin tablet
  @media (max-width: 905px)
    @content

@mixin phone
  @media (max-width: 480px)
    @content


/* Because this Figma design doesn't have an adaptive design, I will create it myself, and for this, 
  I will need individual mixins for the pages, but it`s a bad practice */

/* homepage */
@mixin homepage-media-breakpoint-1
  @media (max-width: 1110px)
    @content

@mixin homepage-media-breakpoint-2
  @media (max-width: 990px)
    @content

@mixin homepage-media-breakpoint-3
  @media (max-width: 615px)
    @content
