@import '../../../assets/css/_mixins'

.order-card
  margin: 40px auto 0 auto
  border-radius: 6px 44px
  padding: 40px
  background-color: var(--bg-card)
  max-width: 900px
  @include phone
    padding: 20px
  &__date
    display: flex
    justify-content: space-between
    align-items: center
    font-family: var(--font-family)
    font-weight: 700
    font-size: 18px
    line-height: 1.3
    color: var(--text)
    margin-bottom: 24px
  &__price
    display: flex
    justify-content: space-between
    align-items: center
    font-family: var(--font-family)
    font-weight: 700
    font-size: 20px
    line-height: 1.3
    color: var(--text-title)
