.remover
  display: flex
  align-items: center
  gap: 4px
  border-radius: 6px
  padding: 0px 8px
  background-color: var(--base-button)
  height: 32px
  &__svg
  &__text
    font-family: var(--font-family)
    font-weight: 400
    font-size: 12px
    line-height: 19px
    text-transform: uppercase
    color: var(--base-text)
    user-select: none
